@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;400&display=swap");
/*
=============== 
Variables
===============
*/

:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  font-weight: 700;
}
/*  global classes */

.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Light-gray);
}

.card {
  margin: 0 100px;
  width: 320px;
  min-width: 300px;
  height: 500px;
  text-align: center;
  background-color: var(--White);
  border-radius: 20px;
  overflow: hidden;
}
.qrcode {
  margin: 18px 18px;
  max-width: 100%;
  max-height: 290px;
}
img {
  max-width: 290px;
  width: 100%;
  max-height: 290px;
  border-radius: 15px;
}
.title {
  margin: 0 auto 20px;
  width: 90%;
  height: 100%;
  font-size: 1.4rem;
  color: var(--Dark-blue);
  /* font-weight: 700; */
}
.info {
  margin: 0 auto;
  width: 80%;
  font-size: 1rem;
  color: var(--Grayish-blue);
  font-weight: 400;
}
footer {
  /* position: relative; */
  display: flex;
  margin-top: -50px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #000;
}
a {
  font-size: 12px;
  text-decoration: none;
  color: var(--Grayish-blue);
}
